<footer>
    <h2><i class="fa fa-fire"></i> MedicalAI</h2>
    <div class="footer-links">
        <div class="quick-links">
            <h3>Products</h3>
            <ul>
                <li><a href="/playground">Get Started</a></li>
                <li><a href="/playground">Try it now</a></li>
                <li><a href="/playground">AI Powered</a></li>
                <li><a href="/playground">ML Kit</a></li>
            </ul>
        </div>
        <div class="quick-links">
            <h3>Research</h3>
            <ul>
                <li><a href="/playground">Machine Learning</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Learning</a></li>
                <li><a href="#">Simple to use</a></li>
            </ul>
        </div>
        <div class="quick-links">
            <h3>Social links</h3>
            <ul>
                <li><a href="https://Instagram.com/"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="https://facebook.com/"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://wa.me/"><i class="fa fa-whatsapp"></i> Whatsapp</a></li>
                <li><a href="https://mailto:"><i class="fa fa-envelope"></i> Email</a></li>
            </ul>
        </div>
    </div>
    <p style="text-align: center;">MedicalAI <span class="copy">&copy;</span><span id="year"></span></p>
</footer>

<script>
    const date=new Date()
    let year=date.getFullYear()
    document.getElementById("year").innerText=year
</script>