<footer>
    <div class="info">
        <div class="container">
            <h2>Products</h2>
            <ul>
                <li><a href="/laboratory">Get Diagnosed</a></li>
                <li><a href="/laboratory">Laboratory</a></li>
                <li><a href="/facilitaties">Facilities</a></li>
                <li><a href="/blogs">Blog</a></li>
            </ul>
        </div>
        <div class="container">
            <h2>Research</h2>
            <ul>
                <li><a href="tel:0754423664" target="_blank" rel="noreferrer">Medical Research</a></li>
                <li><a href="mailto:imranmat254@gmail.com" target="_blank" rel="noreferrer">User Research</a></li>
                <li><a href="tel:0754423664" target="_blank" rel="noreferrer">All Reports</a></li>
            </ul>
        </div>
        <div class="container">
            <h2>Company</h2>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#career">Careers</a></li>
                <li><a href="#aff" >Affiliates</a></li>
            </ul>
        </div>
        <div class="container">
            <h2>Support</h2>
            <ul>
                <li><a href="tel:0754423664" target="_blank" rel="noreferrer">Help Center</a></li>
                <li><a href="tel:0754423664" target="_blank" rel="noreferrer">Contact</a></li>
                <li><a href="mailto:imranmat254@gmail.com" target="_blank" rel="noreferrer">imranmat254@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <div class="social-media-links">
        <ul>
            <li><a href="https://instagram.com/imrany00" title="Instagram" style="color: rgb(207, 67, 90);" target="_blank" rel="noreferrer"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://ke.linkedin.com/in/imranyy" title="LinkedIn" style="color: rgb(120, 120, 235);" target="_blank" rel="noreferrer"><i class="fa fa-linkedIn"></i></a></li>
            <li><a href="https://wa.me/+254754423664" title="Whatsapp" target="_blank" style="color: green;" rel="noreferrer"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="mailto:imranmat254@gmail.com" title="Email" style="color: rgb(238, 111, 111);" target="_blank"  rel="noreferrer"><i class="fa fa-envelope"></i></a></li>
            <li><a href="tel:0754423664" target="_blank" title="Call" rel="noreferrer"><i class="fa fa-phone"></i></a></li>
            <li><a href="https://twitter.com/imran_matano" title="Twitter" style="color: blue;" target="_blank" rel="noreferrer"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <div>
        <small>
            &copy;2023 Stay Healthy
        </small>
    </div>
</footer>