<nav>
    <div class="logo">
        <img src="/assests/logo.jpg"/> 
       <div class="text">
            Stay Healthy
       </div>
    </div>
    <ul role="navigation">
        <li><a href="/playground">Try it</a></li>
        <li><a href="/playground">Try it</a></li>
        <li><a href="/playground">Try it</a></li>
    </ul>
    <button id="get-started">Get Started</button>
</nav>