<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <header class="facilities-header">
            <h1>Find Facilities <i class="fa fa-compass"></i></h1>
        </header>
        <div class="location-notify">

        </div>
        <div class="gmap_canva">
            <iframe className='gmap' id="gmap_canvas"  frameBorder="0" scrolling="no" marginHeight="0" marginWidth="0"></iframe>
        </div>
    </div>
</body>
</html>