<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <header class="facilities-header">
            <h1>Find Facilities <i class="fa fa-compass"></i></h1>
        </header>
        <div class="gmap_canva">
            <iframe className='gmap' id="gmap_canvas" src='https://maps.google.com/maps?q=nairobi&t=&z=15&ie=UTF8&iwloc=&output=embed' frameBorder="0" scrolling="no" marginHeight="0" marginWidth="0"></iframe>
        </div>
    </div>

</body>
</html>