<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <header>
            <h1><span class="blue">Stay</span> Healthy</h1>
        </header>
        <section>
            <article>
                One of the best ways of staying health is by treating illnesses, at their early stage. This prevents further
                spreading and ensures the victim doesn't suffer from adverse complications, if left untreated for a long time.
            </article>
            <article>
                People are advised on getting checked frequently to prevent or cure developing illnesses.
                But many people rarely go for check ups, therefore it gets difficult for them finding out developing imfections early.
                This causes adverse problems on the victim.
                Some people live with sicknesses in their bodies that they are unaware of, this is dangerous.
            </article>
            <article>
                This problem can be solved by providing people am easier way of getting checked early, as the infection strikes.
                This software provides a series of steps, any sick person can follow so as to get diagnosed and determine the possible sickness.
                The software would determine the possible causes of the sickness, give home remedies and preventations, medical prescriptions and doses to purchase from a
                pharmacy, this software will also give the sick user the possible location of pharmacies around the user's device.

            </article>
            <br/><button id="get-diagnosed" title="Get diagnosed"><i class="fa fa-check"></i> Get Diagnosed</button>
        </section>

        <div class="grey-section">
            <section class="tag-section">

            </section>
            <section>
                <h2>Frequent asked questions</h2>
                <div class="tag-question">
                    
                </div>

            </section>
        </div>

        <section>
            <article>

            </article>
        </section>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>