<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <header>
            <h1><span class="blue">Stay</span> Healthy</h1>
            <h2>Welcome</h2>
        </header>
        <section>
            <article>
    
            </article>
        </section>
    </div>

</body>
</html>