<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <header>
            <h1><span class="blue">Stay</span> Healthy<i class="fa fa-download"></i></h1>
        </header>
        <section>
            <article>
                The best way to treat any sickness, is at its early stage, this prevents further
                spreading and prevents the victim from servere complications, which the sickness would have on his/her body if left untreated for a long time.
            </article>
            <article>
                People are advised to get a checked frequently to prevents and cure developing illnesses.
                But many people rarely go for check ups, therefore it gets difficult for them finding out about any illness at an early stage.
                This results results to servere problems for the victim in future.
                Some people live with sicknesses in their bodies that they are unaware of, this is dangerous.
            </article>
            <article>
                So to solve this problem is by providing people with a way of getting checked early if an infection strikes.
                This application provides a series of steps that any sick person can follow so as to get diagnosed and determine the possible sickness.
                The sick user would be gived the possible causes of the sickness, home remedies and preventations, medical prescriptions and doses to purchase from a
                pharmacy, this application will also give the sick user the possible locations of pharmacies around his device location.

            </article>
            <br/><button id="get-diagnosed">Get Diagnosed</button>
        </section>
    </div>

</body>
</html>