<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <div class="content">
        <header class="not-found">
            <h1>Page Not Found</h1>
            <a href="/"><button>Go Back</button></a>
        </header>
    </div>

</body>
</html>