<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <div class="playground">
        <div class="side-menu"> 
            <ul>
                <li class="new-check-up"><a href="#2"><span class="add">+</span>  New Check up</a></li>
            </ul>
            <div class="info">
                <ul>
                    <li class="clear-screen"><i class="fa fa-trash add"></i> Clear screen</li>
                </ul>
            </div>
        </div>
        <div class="text-window">
            <small class="small-first-text"></small><br/>
            <div class="start-info"></div>

            <div class="text-response"></div>
            <form class="handle-submit">
                <input class="playground-textarea" name='request' placeholder="Signs or symptoms" required/>
                <button class="playground-submit-btn"></button>
            </form>
        </div>
    </div>
</body>
</html>