<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <header>
            <h1><span class="blue">Stay</span> Healthy<i class="fa fa-download"></i></h1>
        </header>
    </div>
</body>
</html>