<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <div class="playground">
        <div class="side-menu"> 
            <ul>
                <li class="new-check-up"><a href="#2"><span class="add">+</span>  Get Started</a></li>
            </ul>
            <div class="info">
                <ul>
                    <li class="clear-screen"><i class="fa fa-trash add"></i> Delete Chats</li><br/>
                    <li class="back-home"><i class="fa fa-home add"></i> Back Home</li>
                </ul>
            </div>
        </div>
        <div class="text-window">
            <small class="small-first-text"></small><br/>
            <div class="start-info"></div>

            <div class="text-response"></div>
            <div class="down"></div>
            <form class="handle-submit">
                <input class="playground-textarea" name='request' placeholder="Signs or symptoms" required/>
                <button class="playground-submit-btn"></button>
            </form>
        </div>
    </div>

    <script type="module">
        const startInfo=[
            {
                id:1,
                icon:`<i class="fa fa-bolt" style="margin-right:5px;"></i>`,
                name:"Powered By Artificial Intelligence."
            },
            {
                id:2,
                icon:`<i class="fa fa-comment" style="margin-right:5px;"></i>`,
                name:"Your Medical assistant."
            },
            {
                id:3,
                icon:`<i class="fa fa-user" style="margin-right:5px;"></i>`,
                name:"Improve your health."
            }
        ]
        const startInfoSection=document.querySelector(".start-info");
        for(let i=0;i<startInfo.length;i++){
                let info=`
                <div class="tab">
                    <p>${startInfo[i].icon} ${startInfo[i].name}.</p>
                </div>
                `

                startInfoSection.innerHTML+= info
        }
        //first text
        // document.querySelector('.small-first-text').innerText='Our goal is ensuring healthy living and protect sick people from developing diseases. Your feedback will help us improve.';
        const goal='Our objective is ensuring healthy living and protect sick people from developing diseases. Your feedback will help our model learn.'
        var curr=0;
        function write(){
            const text=document.querySelector('.small-first-text');
            text.textContent+=goal.charAt(curr);
            curr++;
            if(curr<goal.length){
                setTimeout(write,50)
            }
        }
        write();

        //new checkup
        document.querySelector('.new-check-up').addEventListener('click',()=>{
            startInfoSection.innerHTML=''
            document.querySelector('.new-check-up').classList.add('checked')
            document.querySelector('.handle-submit').style.opacity="1";
        });

        //clear screen
        document.querySelector('.clear-screen').addEventListener('click',()=>{
            document.querySelector('.text-response').innerHTML=''
            document.querySelector('.small-first-text').innerText='Our objective is ensuring healthy living and protect sick people from developing diseases. Your feedback will help our model learn.'
        })
        //sending request to api
        const playgroundSubmitBtn=document.querySelector('.playground-submit-btn');
        playgroundSubmitBtn.innerHTML='<i class="fa fa-send"></i>'
        let req='';
        const sendRequest=document.querySelector('.handle-submit');
        sendRequest.addEventListener('submit',async(e)=>{
            const request=sendRequest.request.value
            e.preventDefault();
            try {
                document.querySelector('.small-first-text').innerText=''
                playgroundSubmitBtn.innerHTML='<i class="fa fa-rocket"></i>';
                playgroundSubmitBtn.disabled=true;
                const url='/api';
                const response=await fetch(url,{
                    method:'POST',
                    headers:{
                        'content-type':'application/json'
                    },
                    body:JSON.stringify({
                        prompt:request
                    })
                })
                playgroundSubmitBtn.innerHTML='<i class="fa fa-send"></i>';
                playgroundSubmitBtn.disabled=false;
                sendRequest.reset()
                const parseRes=await response.json();
                let i=``
                req=request
                // display user question
                const textResponse=document.querySelector('.text-response');
                if(parseRes.error){
                    i=`
                    <div class='text-error'>
                        <p style="color:red;">Error: ${parseRes.msg}</p>
                    </div>
                    `
                    textResponse.innerHTML+=i
                    setTimeout(()=>{
                        textResponse.innerHTML=``
                    },8000)
                }else{
                    let data=JSON.parse(parseRes.ans);
                    i=`
                    <p class="req"> ${req}  <small> <i>AI's response: "${parseRes.msg}"</i></small></p>
                    <div class='text' title="${req} 's response">
                        <div key=${data.organic[0].position}>
                            <p>${data.organic[0].title}</p>
                            <p>${data.organic[0].snippet}</p>
                            <a href=${data.organic[0].link} target='_blank' rel='noreferrer'>View more...</a><br/>
                            <br/>
                        </div>
                        <div key=${data.organic[1].position}>
                            <p>${data.organic[1].title}</p>
                            <p>${data.organic[1].snippet}</p>
                            <a href=${data.organic[1].link} target='_blank' rel='noreferrer'>View more...</a><br/>
                            <br/>
                        </div>
                        <div key=${data.organic[2].position}>
                            <p>${data.organic[2].title}</p>
                            <p>${data.organic[2].snippet}</p>
                            <a href=${data.organic[2].link} target='_blank' rel='noreferrer'>View more...</a><br/>
                            <br/>
                        </div>
                        <div key=${data.organic[3].position}>
                            <p>${data.organic[3].title}</p>
                            <p>${data.organic[3].snippet}</p>
                            <a href=${data.organic[3].link} target='_blank' rel='noreferrer'>View more...</a><br/>
                            <br/>
                        </div>
                    </div>
                    `
                    textResponse.innerHTML+=i
                    document.querySelector('.down').scrollIntoView()
                }
            } catch (error) {
                console.log(error.message)
                document.querySelector('.small-first-text').innerText='Our goal is ensuring healthy living and protect sick people from developing diseases. Your feedback will help us improve.'
                sendRequest.reset();
                playgroundSubmitBtn.innerHTML='<i class="fa fa-send"></i>';
                playgroundSubmitBtn.disabled=false;
                // display error message
                const textResponse=document.querySelector('.text-response');
                let i=`
                <div class='text-error'>
                    <p style="color:red;">Error: No Internet</p>
                </div>
                `
                textResponse.innerHTML=i
                setTimeout(()=>{
                    textResponse.innerHTML=``
                },8000)
            }
        })

        document.querySelector('.back-home').addEventListener('click',()=>{
            window.location.href='/'
        })
    </script>
</body>
</html>