<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="playground">
        <div class="side-menu">
            <ul>
                <li><a href="#2"><i class="fa fa-user"></i> New Check up</a></li>
            </ul>
        </div>
        <div class="text-window">
            <div class="text-response"></div>
            <div class="down"></div>
            <form class="handle-submit">
                <textarea class="playground-textarea" name='request' placeholder="headache,stomachache, difficult breathing" required></textarea>
                <button class="playground-submit-btn"></button>
            </form>
        </div>
    </div>
</body>
</html>