@media screen and (max-width:1000px) {
    .playground{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .playground .side-menu{
        display: none;
    }
    .text-window{
        width: 100vw;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .start-info{
        padding: 0 50px 0 0;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .text-window form{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        display: flex;
        opacity: 1;
    }
    .text-response {
        width: 80vw;
    }
    .small-first-text{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .text-window{
        display: block;
        padding: 40px 20px;
    }
    .text-response .text{
        width: 80vw;
    }
    .text-window form{
        padding: 10px;
    }
    .text-window form button{
        margin-left: 10px;
        padding: 10px 20px;
    }
}

@supports(backdrop-filter: blur(2rem)){
    .top{
      backdrop-filter: blur(4rem);
    }
  }