@media screen and (max-width:1000px) {
    .grey-section .tag-section{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }  
    .get-started{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .get-started article{
        width: 90vw;
    }
    .get-started .form-get-checked input{
        width: 80vw;
    }
    .get-started .form-btn{
       font-size: 12px;
       width: 25vw;
    }
    .frequent-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .frequent-section article{
        margin: 10px 0;
    }
    .frequent-section img{
        width: 60vw;
        height: 250px;
    }
    footer .info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    footer .info .container{
        justify-self: center;
    }
}
@media screen and (max-width:800px) {
    nav ul,nav button{
        display: none;
    }
    nav .menu{
        display: block;
    }
    .grey-section .tag-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .grey-section .tag-question{
        display: flex;
    }
}
@media screen and (max-width:600px) {
    .grey-section .tag-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: small;
    }
    footer .info{
        display: flex;
        flex-direction: column;
    }
    .text-window form{
        padding: 10px;
    }
    .text-window form button{
        margin-left: 10px;
        padding: 10px 20px;
    }
}
@media screen and (max-width:310px) {
    .grey-section .tag-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}