
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
:root{
    --red:red;
    --gray:#f4f6f8;
    --grey-text:gray;
    --blue:blue;
    --white:white;
    --black:black;
    --body-text:#676e8b;
    --green:green;
}
html{
  scroll-behavior: smooth;
}
body{
    background: rgba(52,53,65,1);
    color: var(--white);
    font-family: 'Quicksand', monospace;
}

/* playground css */
.playground{
    display: grid;
    grid-template-columns: 20vw auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
}
.playground .side-menu{
    background: var(--black);
}
.playground .side-menu ul{
    padding: 40px 25px;
    list-style: none;
}
.playground .side-menu ul li{
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px hsla(0,0%,100%,.2);
}
.add{
    font-size: 18px;
    margin: 0 5px 0 0;
}
.playground .side-menu ul li:hover{
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 10%);
    background: rgba(52,53,65,1);
    border: none;
}
.checked{
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 10%);
    background: rgba(52,53,65,1);
    border: none;
}
.playground .side-menu ul li a{
    text-decoration: none;
    color: var(--white);
}
.info{
    border-top: solid 1px hsla(0,0%,100%,.2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 80%;
}
.start-info{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.start-info .tab{
    background: rgba(68,70,84,1);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.text-window{
    overflow-y: scroll;
    padding: 40px;
}
.text-window form{
    position: fixed;
    bottom: 30px;
    left: 350px;
    right: 10vw;
    padding: 20px;
    display: flex;
    opacity: 0;
}
.text-window form input{
    width: 80vw;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: blueviolet;
}
.text-window form button{
    margin-left: 5px;
    padding: 10px 20px;
    border: solid 1px hsla(0,0%,100%,.2);
    background: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
}
.text-window form button:hover{
    color: var(--black);
}
.text-window form button i{
    font-size: 20px;
}
.text-response{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.text-response .req{
    margin: 30px 0 -15px 0;
}
.text-response .req::before{
    content: '🧠  ';
}
.text-response .text{
    background: rgba(68,70,84,1);
    padding: 10px 15px;
    border-radius: 20px;
    margin: 20px 0 100px 0;
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.text-response .text:hover{
    box-shadow: 0 5px 20px 0 rgb(11 7 110 / 10%);
}

.text-error{
    width: fit-content;
    cursor: pointer;
    background: var(--gray);
    padding: 10px 15px;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

/* not found */
.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}
.content{
    padding: 15vh 0;
}
